.button {
  cursor: pointer;
  outline: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}

.button {
  &:disabled {
    opacity: 0.5;
  }
}

.button_a {
  font-weight: 700;
  font-size: 0.75rem;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  text-transform: uppercase;
  padding: 22.5px 37.21px;
  transition: color 0.3s, background-color 0.3s;
  &:hover,
  &:focus {
    background-color: #fff;
    color: #000;
  }
}

.button_b {
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  color: #fff;
  font-size: 0.75rem;
  border: 0;
  position: relative;
  font-weight: 700;
  &:hover,
  &:focus {
    & > span {
      &:nth-child(1) {
        box-shadow: 0px 7px 38px 1px #c6042f;
      }
    }
  }
  & > span {
    &:nth-child(1) {
      text-transform: uppercase;
      padding: 25.5px 37.6px;
      letter-spacing: 0.35px;
      position: relative;
      transition: box-shadow 0.5s;
      background: linear-gradient(
        90deg,
        rgba(173, 8, 52, 1) 0%,
        rgba(205, 32, 69, 1) 51%,
        rgba(173, 8, 52, 1) 100%
      );
      &::after {
        content: "";
        width: 43px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: calc(100% - 17px);
        z-index: 3;
        @include media-breakpoint-down(sm) {
          display: none;
        }
      }
    }
    &:nth-child(2) {
      @include media-breakpoint-down(sm) {
        display: none;
      }
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: calc(100% + 47.1px);
    }
  }
}

.button_b-dark {
  & > span {
    &:nth-child(1) {
      &::after {
        background-color: $color-f;
      }
    }
    &:nth-child(2) {
      color: $color-g;
    }
  }
}

.button_b-icon {
  & > span {
    &:nth-child(1) {
      display: inline-flex;
      align-items: center;
      padding: 19.5px 34.6px;
      & > span {
        &:nth-child(1) {
          margin-right: 20px;
          .svg-sprite {
            width: 25px;
            height: 25px;
            fill: #fff;
          }
        }
      }
    }
  }
}

.button_c {
  font-weight: 700;
  font-size: 0.75rem;
  background-color: transparent;
  border: 1px solid $color-n;
  color: $color-c;
  text-transform: uppercase;
  padding: 22.5px 37.21px;
  transition: color 0.3s, background-color 0.3s;
  &:hover,
  &:focus {
    background-color: $color-n;
    color: #fff;
  }
}
