.footer {
  padding: 55px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }
}

.footer__logo {
  & > img {
    max-width: 100%;
  }
  @include media-breakpoint-down(sm) {
    order: 1;
    margin-bottom: 20px;
  }
}

.footer__copy {
  padding-left: 50px;
  box-sizing: border-box;
  flex-grow: 1;
  font-size: 0.75rem;
  font-weight: 200;
  a {
    color: $color-b;
  }
  @include media-breakpoint-down(sm) {
    order: 3;
    flex-direction: column;
    padding-left: 0;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  & > span {
    margin-right: 30px;
    @include media-breakpoint-down(sm) {
      margin-right: 0;
      width: 100%;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
.footer__phone {
  flex-grow: 1;
  text-align: right;
  padding-right: 40px;
  box-sizing: border-box;
  /*   @include media-breakpoint-down(md) {
    padding-right: 0;
    margin-top: 10px;
  } */
  @include media-breakpoint-down(sm) {
    margin-top: 2px;
    order: 2;
  }
  /*  @include media-breakpoint-down(xs) {
    padding-left: 10px;
    margin-top: 0;
  } */
}

.footer__contacts {
  display: flex;
  align-items: center;
  flex-grow: 1;
  @include media-breakpoint-down(md) {
    flex-direction: column;
  }
  @include media-breakpoint-down(sm) {
    order: 3;
  }
}

.footer__call {
  @include media-breakpoint-down(sm) {
    order: 2;
    margin-bottom: 20px;
  }
}
