.input-text {
  display: inline-block;
  position: relative;
  input {
    width: 100%;
    max-width: 100%;
    font-size: 0.875rem;
    border: 0;
    background-color: #fff;
    outline: 0;
    padding: 25px 35px;
    padding-right: 70px;
    box-sizing: border-box;
    &::placeholder {
      font-size: 0.875rem;
      color: inherit;
    }
  }
}

.input-text__icon {
  position: absolute;
  bottom: 23px;
  right: 30px;
  .svg-sprite {
    fill: #c9c8c8;
    width: 13px;
    height: 13px;
  }
}
