.insta {
  display: inline-flex;
  align-items: center;
  &:hover {
    & > span {
      opacity: 0.8;
    }
    & > .svg-sprite {
      opacity: 0.5;
    }
  }
  & > span {
    margin-left: 21px;
    font-weight: 700;
    font-size: 0.75rem;
    color: #fff;
    transition: opacity 0.3s;
    transition-delay: 0.1s;
    text-transform: uppercase;
    position: relative;
    @include media-breakpoint-down(xs) {
      margin-left: 5px;
    }
    &::after {
      content: "";
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      height: 1px;
      background-color: #7c8775;
    }
  }
  & > .svg-sprite {
    width: 22px;
    height: 22px;
    fill: #fff;
    transition: opacity 0.3s;
  }
}
