.rectart {
  & > span {
    border-radius: 15px;
    display: block;
    box-shadow: 0px 3px 49px 0px transparentize($color: $color-c, $amount: 0.78);
    position: absolute;
    z-index: 1;
    background-color: $color-b;
  }
}

.rectart_ty1 {
  & > span {
    &:nth-child(3) {
      width: 282px;
      height: 323px;
      top: 37%;
      left: 74%;
    }
    &:nth-child(2) {
      width: 142px;
      height: 163px;
      top: 30%;
      left: 118%;
    }
    &:nth-child(1) {
      width: 142px;
      height: 163px;
      top: 55%;
      left: 154%;
    }
  }
}
.rectart_ty2 {
  & > span {
    &:nth-child(3) {
      width: 282px;
      height: 323px;
      top: 24%;
      left: 90%;
    }
    &:nth-child(2) {
      width: 142px;
      height: 163px;
      top: 11%;
      left: 127%;
    }
    &:nth-child(1) {
      width: 142px;
      height: 163px;
      top: 29%;
      left: 158%;
    }
  }
}
.rectart_ty3 {
  & > span {
    &:nth-child(3) {
      width: 281px;
      height: 323px;
      top: 12%;
      right: 71%;
    }
    &:nth-child(2) {
      width: 142px;
      height: 163px;
      top: 7%;
      right: 153%;
    }
    &:nth-child(1) {
      width: 142px;
      height: 163px;
      top: 45%;
      right: 113%;
    }
  }
}

.rectart_ty4 {
  & > span {
    &:nth-child(3) {
      width: 282px;
      height: 323px;
      top: 33%;
      left: 71%;
    }
    &:nth-child(2) {
      width: 142px;
      height: 163px;
      top: 26%;
      left: 115%;
    }
    &:nth-child(1) {
      width: 142px;
      height: 163px;
      top: 51%;
      left: 152%;
    }
  }
}
.rectart_ty5 {
  & > span {
    &:nth-child(3) {
      width: 281px;
      height: 323px;
      top: 29%;
      right: 71%;
      @include media-breakpoint-down(xs) {
        top: 4%;
        right: 60%;
      }
    }
    &:nth-child(2) {
      width: 142px;
      height: 163px;
      top: 39%;
      right: 151%;
    }
    &:nth-child(1) {
      width: 142px;
      height: 163px;
      top: 20%;
      right: 109%;
    }
  }
}
