.scrollup {
  display: none;
  position: fixed;
  bottom: 141px;
  right: 50px;
  left: auto;
  color: #000;
  writing-mode: tb-rl;
  transform: rotate(180deg);
  font-size: 0.75rem;
  letter-spacing: 1px;
  z-index: 100;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s;
  width: 60px;
  padding-bottom: 42px;
  align-items: center;
  transition: opacity 0.5s;
  &:hover {
    opacity: 0.6;
  }
  /* &:hover {
    &::before {
      height: 160px;
    }
  } */

  &::before {
    content: "";
    width: 60px;
    height: 60px;
    background-color: $color-b;
    position: absolute;
    z-index: -1;
    bottom: -49px;
    -webkit-transition: height 0.5s;
    transition: height 0.5s;
    right: 0;
    background-image: url(../img/up-arrow.svg);
    background-repeat: no-repeat;
    background-size: 13px;
    background-position: center;
  }
  &::after {
    content: "";
    width: 2px;
    height: 39px;
    background-color: #ddd;
    top: 59px;
    position: absolute;
    margin-top: -7px;
  }
}

.scrollup_show {
  opacity: 1;
}
