.section-header {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 2.25rem;
  line-height: 2.875rem;
  margin: 0;
  padding: 0;
  margin-bottom: 36px;
  text-align: center;
  @include media-breakpoint-down(xs) {
    font-size: 1.4rem;
    line-height: 2rem;
  }
  & > span {
    color: $color-b;
  }
}

.section-header_left {
  text-align: left;
}
