.section-art {
  display: flex;
  align-items: center;
  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }
}

.section-art_altop {
  align-items: flex-start;
}

.section-art__text {
  width: 50%;
  padding-right: 15px;
  box-sizing: border-box;
  & > p {
    &:last-child {
      margin-bottom: 0;
    }
  }
  @include media-breakpoint-down(sm) {
    order: 2;
    padding: 0;
    width: 100%;
  }
}

.section-art__image {
  width: 50%;
  padding-left: 15px;
  box-sizing: border-box;
  @include media-breakpoint-down(sm) {
    order: 1;
    padding: 0;
    width: 100%;
    margin-bottom: 50px;
  }
}

.section-art__image_top {
  transform: translateY(-197px);
  margin-bottom: -197px;
  @include media-breakpoint-down(lg) {
    transform: none;
    margin-bottom: 0;
  }
}

.section-art_revers {
  .section-art__image {
    order: 1;
    padding-left: 0;
  }
  .section-art__text {
    order: 2;
    padding-right: 0;
    padding-left: 85px;
    @include media-breakpoint-down(sm) {
      padding-left: 0;
    }
  }
}

.section-art__text_accent {
  padding-right: 100px;
  box-sizing: border-box;
}
