.services {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -25px;
  position: relative;
  .circles {
  }
  @include media-breakpoint-down(sm) {
    margin-bottom: -20px;
  }
}

.services__item {
  width: calc(33.33333333333% - 20px);
  text-align: center;
  margin-right: 30px;
  margin-bottom: 25px;
  height: 257px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 10px 46px 0px transparentize($color: $color-c, $amount: 0.85);
  align-items: center;
  padding: 27px 20px;
  box-sizing: border-box;
  @include media-breakpoint-down(sm) {
    width: calc(50% - 10px);
    margin-right: 20px;
    margin-bottom: 20px;
    &:nth-child(even) {
      margin-right: 0 !important;
    }
  }
  @include media-breakpoint-down(xs) {
    width: 100%;
    margin-right: 0 !important;
    height: 200px;
  }
  &:nth-child(3n + 3) {
    margin-right: 0;
    @include media-breakpoint-down(sm) {
      margin-right: 20px;
    }
  }
}

.services__name {
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.5rem;
  max-width: 250px;
  height: 60px;
}

.services__image {
  height: 113px;
}

.services__image {
  display: flex;
  align-items: center;
}
