.workspag {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  @include media-breakpoint-down(xs) {
    margin-top: -31px;
  }
  &::after {
    content: "";
    height: 1px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    background-color: $color-j;
    z-index: -1;
    @include media-breakpoint-down(xs) {
      display: none;
    }
  }
}

.workspag__next,
.workspag__prev {
  outline: none;
  user-select: none;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.5s;
  background-color: #fff;
  &:hover {
    opacity: 0.8;
  }
  & > i {
    background-color: $color-b;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s;
    & > .svg-sprite {
      transition: fill 0.5s;
      width: 10px;
      height: 10px;
      fill: #fff;
    }
  }
  & > span {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.5rem;
    @include media-breakpoint-down(xs) {
      display: none;
    }
  }
  &.swiper-button-disabled {
    &:hover {
      opacity: 1;
    }
    & > i {
      background-color: $color-j;
      & > .svg-sprite {
        fill: darken($color: $color-j, $amount: 30%);
      }
    }
  }
}

.workspag__next {
  padding-left: 20px;
  @include media-breakpoint-down(xs) {
    padding-left: 0;
  }
  & > i {
    margin-left: 15px;
  }
}
.workspag__prev {
  padding-right: 20px;
  @include media-breakpoint-down(xs) {
    padding-right: 0;
  }
  & > i {
    margin-right: 15px;
  }
}
