include templates/mixins.pug

<!DOCTYPE html>
html(lang="ru")

    head

        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        title Title

        // ===============
        // Стили и скрипты
        // ===============
        link(rel="stylesheet", href="css/main.css")
        script(src="js/jquery.min.js")
        script(src="js/jquery.fancybox.min.js")
        script(src="js/jquery.mask.min.js")
        script(src="js/jquery.validate.min.js")
        script(src="js/wow.min.js")

        // =====================
        // ЗАГРУЗКА SVG СПРАЙТОВ
        // =====================
        script.
            $(document).ready(function() {

                var req = new XMLHttpRequest();

                req.onload = function (e) {
                    var svg = document.implementation.createHTMLDocument( '' );
                    svg.body.innerHTML = e.target.response.replace('<svg ', '<svg style="display: none"');
                    document.body.appendChild(svg.body.firstElementChild);
                    svg = null;
                };

                req.open('GET', './img/sprite.defs.svg', true);

                req.responseType = 'text';

                req.send();

            });

    body

        // ===========================
        // ОКНО "РАССЧИТАТЬ СТОИМОСТЬ"
        // ===========================
        .modal#modal-1
            .modal__window
                .modal__close
                    +svg-sprite('icon_close', 'svg-sprite')
                .window
                    .window__header
                        h2.section-header Рассчитать стоимость
                        .section-subheader Вы ничего не потеряете, если просто сравните цены, верно? Как правило, у нас существенно дешевле.
                    .window__content
                        form.form(action="").deform.form-calc
                            .select
                                .select__icon
                                    +svg-sprite('icon_arrow-down', 'svg-sprite')
                                select(name="type")
                                    option(value="1") Газон
                                    option(value="2") Газон
                                    option(value="3") Газон
                                    option(value="4") Газон
                            .input-text
                                .input-text__icon
                                    img(src="img/construction_carpenter_ruler.png", alt="")
                                input(type="text" name="size" placeholder="Размер участка, (м)") 
                            .input-text
                                .input-text__icon
                                    img(src="img/customer.png", alt="")
                                input(type="text" name="name" placeholder="Имя") 
                            .input-text
                                .input-text__icon
                                    img(src="img/touchscreen.png", alt="")
                                input(type="text" name="phone" placeholder="Телефон").phone-input
                            button(type="submit").button.button_b
                                span Рассчитать стоимость
                                span Просчитать
                        .formcomplete.formcomplete_modal.formcomplete_ok
                            span Спасибо! Мы вам перезвоним.
                        .formcomplete.formcomplete_modal.formcomplete_error
                            span Не удалось отправить

        // ===========================
        // ОКНО "РАССЧИТАТЬ СТОИМОСТЬ"
        // ===========================
        .modal#modal-2
            .modal__window
                .modal__close
                    +svg-sprite('icon_close', 'svg-sprite')
                .window
                    .window__header
                        h2.section-header Заказать звонок
                        .section-subheader Вы ничего не потеряете, если просто сравните цены, верно? Как правило, у нас существенно дешевле.
                    .window__content
                        form.form(action="").deform.form-call

                            .input-text
                                .input-text__icon
                                    img(src="img/customer.png", alt="")
                                input(type="text" name="name" placeholder="Имя") 
                            .input-text
                                .input-text__icon
                                    img(src="img/touchscreen.png", alt="")
                                input(type="text" name="phone" placeholder="Телефон").phone-input
                            button(type="submit").button.button_b
                                span Рассчитать стоимость
                                span Просчитать
                        .formcomplete.formcomplete_modal.formcomplete_ok
                            span Спасибо! Мы вам перезвоним.
                        .formcomplete.formcomplete_modal.formcomplete_error
                            span Не удалось отправить

        // ============
        // КНОПКА ВВЕРХ
        // ============
        .scrollup
            span Вверх

        .wrapper

            // ======
            // HEADER
            // ======
            .header
                .container
                    .header__content
                        .header__logo.wow.fadeIn(data-wow-delay="0.1s")
                            img(src="img/logo-white.svg", alt="")
                        .header__contacts
                            .header__insta.wow.fadeIn(data-wow-delay="0.2s")
                                a(href="").insta
                                    +svg-sprite('icon_instagram', 'svg-sprite')
                                    span Мы в Instagram
                            .header__phone.wow.fadeIn(data-wow-delay="0.3s")
                                a(href="tel:0979774247").callphone
                                    +svg-sprite('icon_phone', 'svg-sprite')
                                    span (097) 977-42-47
                        .header__call.wow.fadeIn(data-wow-delay="0.4s")
                            button.button.button_a(data-modal="modal-2") Заказать звонок

            // ===========
            // ПРИВЕТСТВИЕ
            // ===========
            .intro
                .intro__bg
                    .intro__video
                        video(autoplay='autoplay' muted='muted' loop='loop')
                            source(src='videos/intro.mp4' type='video/mp4')
                .intro__content
                    .container
                        h1.intro__header.wow.fadeInUp(data-wow-delay="0.4s") Автоматический <br>полив в вашем саду <br>под ключ
                        .intro__subheader
                            .edge 
                                .edge__content.wow.fadeInUp(data-wow-delay="0.5s") Гидравлический расчет, проектирование и монтаж с гарантией на оборудование
                                .edge__acc.wow.fadeInRight(data-wow-delay="0.5s")
                                    .countyears
                                        span.countyears__num 5
                                        span.countyears__text Лет
                        .intro__act.wow.fadeInUp(data-wow-delay="0.8s")
                            button.button.button_b(data-modal="modal-1")
                                span Рассчитать стоимость
                                span Просчитать
            
            // ========================================
            // КАК НЕ ПЕРЕПЛАТИТЬ ЗА СИСТЕМУ АВТОПОЛИВА
            // ========================================
            .container.container_rel
                section.section
                    .section-art.section-art_altop
                        .section-art__text
                            h2.section-header.section-header_left.wow.fadeInUp(data-wow-delay="0.2s") Как не переплатить <br><span>за систему автополива?</span>
                            p.art.wow.fadeInUp(data-wow-delay="0.4s") Как правило, эти работы выполняют предприятия, которые занимаются всем: ландшафтным дизайном, освещением, уходом за деревьями, стрижкой газонов и т.д. Не всегда в их штате есть специалист с достаточным опытом и знаниями именно в сфере автополива.
                            p.accent.wow.fadeInUp(data-wow-delay="0.4s") К сожалению, мы часто сталкиваемся с ситуацией, когда <span>оборудование подбирается без гидравлического расчета - «на глаз», с запасом.</span>
                            p.art.wow.fadeInUp(data-wow-delay="0.4s") Устанавливаются лишние дождеватели и чересчур мощные контроллеры. 
                            p.motiv.wow.fadeInUp(data-wow-delay="0.4s") А платите за все это вы - заказчики…
                        .section-art__image.section-art__image_top
                            .imageart.imageart_transtop
                                .rectart.rectart_ty1
                                    span.wow.fadeInUp(data-wow-delay="0.4s")
                                    span.wow.fadeInDown(data-wow-delay="0.5s")
                                    span.wow.fadeInRight(data-wow-delay="0.6s")
                                    span.wow.fadeInLeft(data-wow-delay="0.7s")
                                    span.wow.fadeInUp(data-wow-delay="0.8s")
                                img(src="img/dp1.png", alt="", data-wow-delay="1s").wow.fadeInUp
                                .circart.circart_ty1
                                    span.wow.zoomIn(data-wow-delay="2s")
                                    span.wow.zoomIn(data-wow-delay="2.1s")
                                    span.wow.zoomIn(data-wow-delay="2.2s")
                                    span.wow.zoomIn(data-wow-delay="2.3s")
                                    span.wow.zoomIn(data-wow-delay="2.4s")
                                
                .circles.circles_dark.circles_2
                    +svg-sprite('art_circle', 'svg-sprite')
            
            // ====================================
            // КОМПАНИЯ СПЕЦ. НА СИСТЕМЕ АВТОПОЛИВА
            // ====================================
            section.section.section_accent
                .container.container_rel
                    h2.section-header.wow.fadeInUp(data-wow-delay="0.2s") Компания <span>poliv.family</span> специализируется на системе автополива
                    .section-subheader.wow.fadeInUp(data-wow-delay="0.5s") Мы тщательно замеряем ваш участок и подбираем оборудование, необходимое для равномерного полива территории - без переплат и чрезмерного орошения
                    .services
                        .services__item.wow.zoomIn(data-wow-delay="0.6s")
                            .services__image
                                img(src="img/services/1.png", alt="")
                            .services__name Монтаж
                        .services__item.wow.zoomIn(data-wow-delay="0.7s")
                            .services__image
                                img(src="img/services/2.png", alt="")
                            .services__name Проектирование
                        .services__item.wow.zoomIn(data-wow-delay="0.8s")
                            .services__image
                                img(src="img/services/3.png", alt="")
                            .services__name Сезонное обслуживание
                        .services__item.wow.zoomIn(data-wow-delay="0.9s")
                            .services__image
                                img(src="img/services/4.png", alt="")
                            .services__name Ремонт и настройка
                        .services__item.wow.zoomIn(data-wow-delay="1s")
                            .services__image
                                img(src="img/services/5.png", alt="")
                            .services__name Подбор оборудования для самостоятельного монтажа
                        .services__item.wow.zoomIn(data-wow-delay="1.1s")
                            .services__image
                                img(src="img/services/6.png", alt="")
                            .services__name Капельный полив
                    .goform.wow.fadeInUp(data-wow-delay="1s") 
                        button.button.button_b.button_b-dark
                            span Рассчитать стоимость
                            span Просчитать
                    .circles.circles_white.circles_1
                        +svg-sprite('art_circle', 'svg-sprite')

            // =======
            // ОБЪЕКТЫ
            // =======
            section.section
                .container.container_rel
                    h2.section-header.wow.fadeInUp(data-wow-delay="0.2s") <span>Более 40 объектов</span> в Харькове и области
                    .works.wow.fadeIn(data-wow-delay="0.5s")
                        // Slider main container
                        .swiper-container.slider-projects
                            // Additional required wrapper
                            .swiper-wrapper
                                // Slides
                                .swiper-slide
                                    .portfolio
                                        .portfolio__gallery
                                            .pgallery
                                                // Slider main container
                                                .swiper-container.slider-photos
                                                    // Additional required wrapper
                                                    .swiper-wrapper
                                                        // Slides
                                                        .swiper-slide
                                                            a(href="img/gallery.png" data-fancybox="OBJECT_NUMBER_1").pgallery__item
                                                                img(src="img/gallery.png", alt="")
                                                        .swiper-slide
                                                            a(href="img/gallery.png" data-fancybox="OBJECT_NUMBER_1").pgallery__item
                                                                img(src="img/gallery.png", alt="")
                                                        .swiper-slide
                                                            a(href="img/gallery.png" data-fancybox="OBJECT_NUMBER_1").pgallery__item
                                                                img(src="img/gallery.png", alt="")
                                                    .gallerypag
                                                        .gallerypag__prev
                                                            +svg-sprite('icon_arrow-prev', 'svg-sprite')
                                                        .gallerypag__next
                                                            +svg-sprite('icon_arrow-next', 'svg-sprite')
                                        .portfolio__about
                                            .pwork
                                                .pwork__header ЖК Феличита, начало работ - осень 2018
                                                p.p <span class="strong">Задача</span> - установить систему автоматического полива в клубном жилом комплексе "Феличита".
                                                p.p  <span class="strong">Сдача</span> комплекса происходит этапами, поэтому работы по озеленению и установке автоматического полива также выполняются частями.
                                                p.p  <span class="strong">Первый дом</span> комплекса уже сдан и система полива отработала целый сезон, справившись с очень засушливым летом 2019 года.
                                                p.p  <span class="strong">Источник воды</span> - городские сети. За отключение полива во время дождей отвечает беспроводной датчик дождя.
                                .swiper-slide
                                    .portfolio
                                        .portfolio__gallery
                                            .pgallery
                                                // Slider main container
                                                .swiper-container.slider-photos
                                                    // Additional required wrapper
                                                    .swiper-wrapper
                                                        // Slides
                                                        .swiper-slide
                                                            a(href="img/gallery.png" data-fancybox="OBJECT_NUMBER_2").pgallery__item
                                                                img(src="img/gallery.png", alt="")
                                                        .swiper-slide
                                                            a(href="img/gallery.png" data-fancybox="OBJECT_NUMBER_2").pgallery__item
                                                                img(src="img/gallery.png", alt="")
                                                        .swiper-slide
                                                            a(href="img/gallery.png" data-fancybox="OBJECT_NUMBER_2").pgallery__item
                                                                img(src="img/gallery.png", alt="")
                                                    .gallerypag
                                                        .gallerypag__prev
                                                            +svg-sprite('icon_arrow-prev', 'svg-sprite')
                                                        .gallerypag__next
                                                            +svg-sprite('icon_arrow-next', 'svg-sprite')
                                        .portfolio__about
                                            .pwork
                                                .pwork__header ЖК Феличита, начало работ - осень 2018
                                                p.p <span class="strong">Задача</span> - установить систему автоматического полива в клубном жилом комплексе "Феличита".
                                                p.p  <span class="strong">Сдача</span> комплекса происходит этапами, поэтому работы по озеленению и установке автоматического полива также выполняются частями.
                                                p.p  <span class="strong">Первый дом</span> комплекса уже сдан и система полива отработала целый сезон, справившись с очень засушливым летом 2019 года.
                                                p.p  <span class="strong">Источник воды</span> - городские сети. За отключение полива во время дождей отвечает беспроводной датчик дождя.
                                .swiper-slide
                                    .portfolio
                                        .portfolio__gallery
                                            .pgallery
                                                // Slider main container
                                                .swiper-container.slider-photos
                                                    // Additional required wrapper
                                                    .swiper-wrapper
                                                        // Slides
                                                        .swiper-slide
                                                            a(href="img/gallery.png" data-fancybox="OBJECT_NUMBER_3").pgallery__item
                                                                img(src="img/gallery.png", alt="")
                                                        .swiper-slide
                                                            a(href="img/gallery.png" data-fancybox="OBJECT_NUMBER_3").pgallery__item
                                                                img(src="img/gallery.png", alt="")
                                                        .swiper-slide
                                                            a(href="img/gallery.png" data-fancybox="OBJECT_NUMBER_3").pgallery__item
                                                                img(src="img/gallery.png", alt="")
                                                    .gallerypag
                                                        .gallerypag__prev
                                                            +svg-sprite('icon_arrow-prev', 'svg-sprite')
                                                        .gallerypag__next
                                                            +svg-sprite('icon_arrow-next', 'svg-sprite')
                                        .portfolio__about
                                            .pwork
                                                .pwork__header ЖК Феличита, начало работ - осень 2018
                                                p.p <span class="strong">Задача</span> - установить систему автоматического полива в клубном жилом комплексе "Феличита".
                                                p.p  <span class="strong">Сдача</span> комплекса происходит этапами, поэтому работы по озеленению и установке автоматического полива также выполняются частями.
                                                p.p  <span class="strong">Первый дом</span> комплекса уже сдан и система полива отработала целый сезон, справившись с очень засушливым летом 2019 года.
                                                p.p  <span class="strong">Источник воды</span> - городские сети. За отключение полива во время дождей отвечает беспроводной датчик дождя.
                                .swiper-slide
                                    .portfolio
                                        .portfolio__gallery
                                            .pgallery
                                                // Slider main container
                                                .swiper-container.slider-photos
                                                    // Additional required wrapper
                                                    .swiper-wrapper
                                                        // Slides
                                                        .swiper-slide
                                                            a(href="img/gallery.png" data-fancybox="OBJECT_NUMBER_4").pgallery__item
                                                                img(src="img/gallery.png", alt="")
                                                        .swiper-slide
                                                            a(href="img/gallery.png" data-fancybox="OBJECT_NUMBER_4").pgallery__item
                                                                img(src="img/gallery.png", alt="")
                                                        .swiper-slide
                                                            a(href="img/gallery.png" data-fancybox="OBJECT_NUMBER_4").pgallery__item
                                                                img(src="img/gallery.png", alt="")
                                                    .gallerypag
                                                        .gallerypag__prev
                                                            +svg-sprite('icon_arrow-prev', 'svg-sprite')
                                                        .gallerypag__next
                                                            +svg-sprite('icon_arrow-next', 'svg-sprite')
                                        .portfolio__about
                                            .pwork
                                                .pwork__header ЖК Феличита, начало работ - осень 2018
                                                p.p <span class="strong">Задача</span> - установить систему автоматического полива в клубном жилом комплексе "Феличита".
                                                p.p  <span class="strong">Сдача</span> комплекса происходит этапами, поэтому работы по озеленению и установке автоматического полива также выполняются частями.
                                                p.p  <span class="strong">Первый дом</span> комплекса уже сдан и система полива отработала целый сезон, справившись с очень засушливым летом 2019 года.
                                                p.p  <span class="strong">Источник воды</span> - городские сети. За отключение полива во время дождей отвечает беспроводной датчик дождя.
                                .swiper-slide
                                    .portfolio
                                        .portfolio__gallery
                                            .pgallery
                                                // Slider main container
                                                .swiper-container.slider-photos
                                                    // Additional required wrapper
                                                    .swiper-wrapper
                                                        // Slides
                                                        .swiper-slide
                                                            a(href="img/gallery.png" data-fancybox="OBJECT_NUMBER_5").pgallery__item
                                                                img(src="img/gallery.png", alt="")
                                                        .swiper-slide
                                                            a(href="img/gallery.png" data-fancybox="OBJECT_NUMBER_5").pgallery__item
                                                                img(src="img/gallery.png", alt="")
                                                        .swiper-slide
                                                            a(href="img/gallery.png" data-fancybox="OBJECT_NUMBER_5").pgallery__item
                                                                img(src="img/gallery.png", alt="")
                                                    .gallerypag
                                                        .gallerypag__prev
                                                            +svg-sprite('icon_arrow-prev', 'svg-sprite')
                                                        .gallerypag__next
                                                            +svg-sprite('icon_arrow-next', 'svg-sprite')
                                        .portfolio__about
                                            .pwork
                                                .pwork__header ЖК Феличита, начало работ - осень 2018
                                                p.p <span class="strong">Задача</span> - установить систему автоматического полива в клубном жилом комплексе "Феличита".
                                                p.p  <span class="strong">Сдача</span> комплекса происходит этапами, поэтому работы по озеленению и установке автоматического полива также выполняются частями.
                                                p.p  <span class="strong">Первый дом</span> комплекса уже сдан и система полива отработала целый сезон, справившись с очень засушливым летом 2019 года.
                                                p.p  <span class="strong">Источник воды</span> - городские сети. За отключение полива во время дождей отвечает беспроводной датчик дождя.

                    .slidernum.wow.fadeIn(data-wow-delay="0.5s")
                        .slidernum__current 1
                        .slidernum__total
                    .workspag.wow.fadeIn(data-wow-delay="0.5s")
                        .workspag__prev.workspag__disabled
                            i
                                +svg-sprite('icon_arrow-prev', 'svg-sprite')
                            span Предыдущий проект
                        .workspag__next
                            span Следующий проект
                            i
                                +svg-sprite('icon_arrow-next', 'svg-sprite')
                    .goform.wow.fadeInUp(data-wow-delay="0.5s")
                        button.button.button_b.button_b-dark.button_b-icon
                            span
                                span
                                    +svg-sprite('icon_instagram-2', 'svg-sprite')
                                span Объекты в Instagram
                            span Ознакомиться
                    .circles.circles_dark.circles_3
                        +svg-sprite('art_circle', 'svg-sprite')

            // =================
            // УЗНАЙТЕ СТОИМОСТЬ
            // =================
            .section
                .container.container_rel
                    .circles.circles_dark.circles_4
                        +svg-sprite('art_circle', 'svg-sprite')
                    .bigform.bigform_trtop
                        .bigform__header
                            h2.section-header.section-header_left.wow.fadeInLeft(data-wow-delay="0.5s") Узнайте <span>стоимость установки</span> системы под ключ
                            .section-subheader.section-subheader_left.wow.fadeInLeft(data-wow-delay="0.6s") Вы ничего не потеряете, если просто сравните цены, верно? Как правило, у нас существенно дешевле.
                        .bigform__form
                            form(action="" data-wow-delay="0.5s").deform.form-calc.wow.fadeInUp
                                .select
                                    .select__icon
                                        +svg-sprite('icon_arrow-down', 'svg-sprite')
                                    select(name="type")
                                        option(value="1") Газон
                                        option(value="2") Газон
                                        option(value="3") Газон
                                        option(value="4") Газон
                                .input-text
                                    .input-text__icon
                                        img(src="img/construction_carpenter_ruler.png", alt="")
                                    input(type="text" name="size" placeholder="Размер участка, (м)") 
                                .input-text
                                    .input-text__icon
                                        img(src="img/customer.png", alt="")
                                    input(type="text" name="name" placeholder="Имя") 
                                .input-text
                                    .input-text__icon
                                        img(src="img/touchscreen.png", alt="")
                                    input(type="text" name="phone" placeholder="Телефон").phone-input
                                button(type="submit").button.button_b
                                    span Рассчитать стоимость
                                    span Просчитать
                            .formcomplete.formcomplete_modal.formcomplete_ok
                                span Спасибо! Мы вам перезвоним.
                            .formcomplete.formcomplete_modal.formcomplete_error
                                span Не удалось отправить

            // ==================
            // ПРИЧИНЫ УСТАНОВИТЬ 
            // ==================
            section.section.section_accent
                .container.container_rel
                    .section-art
                        .section-art__text
                            h2.section-header.section-header_left.wow.fadeInLeft(data-wow-delay="0.2s") Все еще сомневаетесь, <span>нужен ли автополив </span>вообще?
                            .section-subheader.section-subheader_left.wow.fadeInLeft(data-wow-delay="0.3s") Решать, конечно, вам. Но напомним, что автоматический полив газона это не только экономия времени.
                            .btitle.wow.fadeInLeft(data-wow-delay="0.4s") 3 причины установить систему автополива:
                            ul.listdots
                                li.listdots__item.wow.fadeInLeft(data-wow-delay="0.5s") <b>Поливая газон вручную,</b> вы никогда не добьетесь равномерного орошения. Некоторые участки будут сухими, другие - залитыми. А пятна на газоне не нравятся никому…
                                li.listdots__item.wow.fadeInLeft(data-wow-delay="0.6s") <b>Чрезмерный полив</b> также приводит к дополнительным расходам. Так что стоит задуматься, экономите ли вы на самом деле, тратя кучу времени на ручной полив.
                                li.listdots__item.wow.fadeInLeft(data-wow-delay="0.7s") <b>Самое главное</b> - гости умрут от зависти, когда увидят вашу новую систему! Придется оставить вам десяток визиток, ведь все захотят себе такую же…
                            .bltoform.wow.fadeInUp(data-wow-delay="0.7s")
                                button(type="submit").button.button_b.button_b-dark
                                        span Заказать автополив
                                        span Закажите
                        .section-art__image
                            .imageart
                                img(src="img/banner-layer-3.png", alt="", data-wow-delay="1s").wow.fadeInUp
                                .circart.circart_ty2
                                    span.wow.zoomIn(data-wow-delay="2.1s")
                                    span.wow.zoomIn(data-wow-delay="2.2s")
                                    span.wow.zoomIn(data-wow-delay="2.3s")
                                    span.wow.zoomIn(data-wow-delay="2.4s")
                                    span.wow.zoomIn(data-wow-delay="2.5s")
                                .rectart.rectart_ty2
                                    span.wow.zoomIn(data-wow-delay="1.1s")
                                    span.wow.zoomIn(data-wow-delay="1.2s")
                                    span.wow.zoomIn(data-wow-delay="1.3s")
                .circles.circles_white.circles_5
                    +svg-sprite('art_circle', 'svg-sprite')

            // ========================
            // КАК ОБСЛУЖИВАТЬ СИСТЕМУ? 
            // ========================
            section.section
                .container.container_rel
                    .section-art.section-art_revers
                        .section-art__text
                            h2.section-header.section-header_left.wow.fadeInUp(data-wow-delay="0.2s") Как <span>обслуживать</span> систему?
                            p.p.wow.fadeInRight(data-wow-delay="0.2s") После установки и правильной настройки вызов специалиста, как правило, нужен два раза в год - для осенней консервации и запуска весной.
                            p.p.wow.fadeInRight(data-wow-delay="0.3s") Но время от времени может понадобиться дополнительный уход: чистка фильтров, сезонная регулировка контроллера. Вы можете делать это сами, но если нет на это времени, мы с радостью окажем эту услугу.
                            p.accent.wow.fadeInRight(data-wow-delay="0.4s") Если вас интересует обслуживание уже установленной системы, давайте договоримся о встрече - мы подъедем и дадим свои рекоммендации.
                            .bltoform.wow.fadeIn(data-wow-delay="1s")
                                button(type="submit").button.button_b.button_b-dark
                                        span Заказать автополив
                                        span Закажите
                        .section-art__image
                            .imageart
                                img(src="img/Screenshot_3.png", alt="", data-wow-delay="1s").wow.fadeInUp
                                .circart.circart_ty2
                                    span.wow.zoomIn(data-wow-delay="2.1s")
                                    span.wow.zoomIn(data-wow-delay="2.2s")
                                    span.wow.zoomIn(data-wow-delay="2.3s")
                                    span.wow.zoomIn(data-wow-delay="2.4s")
                                    span.wow.zoomIn(data-wow-delay="2.5s")
                                .rectart.rectart_ty3
                                    span.wow.zoomIn(data-wow-delay="1.1s")
                                    span.wow.zoomIn(data-wow-delay="1.2s")
                                    span.wow.zoomIn(data-wow-delay="1.3s")
                    .circles.circles_dark.circles_6
                        +svg-sprite('art_circle', 'svg-sprite')
                    .circles.circles_dark.circles_7
                        +svg-sprite('art_circle', 'svg-sprite')


            // ==============================
            //  У ВАС ЕСТЬ СУЩЕСТВУЮЩИЙ ГАЗОН
            // ==============================
            section.section.section_accent
                .container.container_rel
                    .section-art
                        .section-art__text.section-art__text_accent
                            h2.section-header.section-header_left.wow.fadeInUp(data-wow-delay="0.2s") У вас есть <span>существующий газон</span> со взрослыми растениями?
                            p.p.wow.fadeInLeft(data-wow-delay="0.3s") Тогда вы знаете, что такое таскать каждый день шланги, каждый раз ломая цветы. <span class="strong">Есть простое решение</span> - установите автополив.
                            p.accent.wow.fadeInLeft(data-wow-delay="0.3s") Если вас интересует обслуживание уже установленной системы, давайте договоримся о встрече - мы подъедем и дадим свои рекоммендации.
                            .bltoform.wow.fadeInUp(data-wow-delay="1s")
                                button(type="submit").button.button_b.button_b-dark
                                        span Заказать автополив
                                        span Закажите
                        .section-art__image
                            .imageart
                                img(src="img/blobid1558939753334.png", alt="", data-wow-delay="1s").wow.fadeInUp
                                .circart.circart_ty3
                                    span.wow.zoomIn(data-wow-delay="2.1s")
                                    span.wow.zoomIn(data-wow-delay="2.2s")
                                    span.wow.zoomIn(data-wow-delay="2.3s")
                                    span.wow.zoomIn(data-wow-delay="2.4s")
                                    span.wow.zoomIn(data-wow-delay="2.5s")
                                    span.wow.zoomIn(data-wow-delay="2.6s")
                                .rectart.rectart_ty4
                                    span.wow.zoomIn(data-wow-delay="1.1s")
                                    span.wow.zoomIn(data-wow-delay="1.2s")
                                    span.wow.zoomIn(data-wow-delay="1.3s")
                    .circles.circles_white.circles_8
                        +svg-sprite('art_circle', 'svg-sprite')
                    .circles.circles_white.circles_11
                        +svg-sprite('art_circle', 'svg-sprite')

            // ==============================
            // ПОЧЕМУ ГАРАНТИЯ 5 ЛЕТ?
            // ==============================
            section.section
                .container.container_rel
                    .section-art.section-art_revers
                        .section-art__text
                            h2.section-header.section-header_left.wow.fadeInUp(data-wow-delay="0.2s") Почему гарантия <br><span>5 лет?</span>
                            p.p.wow.fadeInUp(data-wow-delay="0.3s") Мы используем только надежное и проверенное оборудование, в котором уверены на 100% - с ним вы точно не будете иметь проблем:
                            ul.listdots.listdots_mini
                                li.listdots__item.wow.fadeInUp(data-wow-delay="0.3s") <b>Hunter</b> (США)
                                li.listdots__item.wow.fadeInUp(data-wow-delay="0.4s") <b>Toro</b> (США)
                                li.listdots__item.wow.fadeInUp(data-wow-delay="0.5s") <b>RainBird</b> (США)
                                li.listdots__item.wow.fadeInUp(data-wow-delay="0.6s") <b>PlasticaAlfa</b> (Италия)
                                li.listdots__item.wow.fadeInUp(data-wow-delay="0.7s") <b>Irritec</b> (Италия)
                            p.accent.wow.fadeInUp(data-wow-delay="0.8s") Сами понимаете - если производитель дает 5 лет гарантии, фактический срок службы 10-15 лет. Под наблюдением Poliv.Family, конечно.
                        .section-art__image
                            .imageart
                                img(src="img/irritec-1200x630.png", alt="")
                                .circart.circart_ty2
                                    span
                                    span
                                    span
                                    span
                                    span
                                .rectart.rectart_ty5
                                    span
                                    span
                                    span
                    .circles.circles_dark.circles_9
                        +svg-sprite('art_circle', 'svg-sprite')
                    .circles.circles_dark.circles_10
                        +svg-sprite('art_circle', 'svg-sprite')
            
            // ======
            // СКИДКА
            // ======
            .promo
                .container
                    .promo__content
                        .promo__about.wow.fadeInLeft(data-wow-delay="0.6s")
                            .promo__title Важно: 
                            .promo__header оплатить можно вносить частями на протяжении монтажа. 
                            .promo__comment Но при предоплате 70% мы дадим скидку - 5% на всю смету! <br>Воспользуйтесь этим!
                        .promo__act.wow.fadeInRight(data-wow-delay="0.6s")
                            button(type="submit").button.button_b
                                span Получить скидку
                                span Забрать
                    .circles.circles_dark.circles_12
                        +svg-sprite('art_circle', 'svg-sprite')

            // ================
            // БЕСПЛАТНЫЙ ЗАМЕР
            // ================
            section.section
                .container.container_rel
                    .bigform
                        .bigform__header
                            h2.section-header.section-header_left.wow.fadeInLeft(data-wow-delay="0.2s") Закажите <br><span>бесплатный </span><br>замер
                            .section-subheader.section-subheader_left.wow.fadeInLeft(data-wow-delay="0.3s") Конечно, по телефону точно подобрать оборудование и просчитать смету мы не сможем. Давайте встретимся, мы ответим на все ваши вопросы, проведем замер участка, составим схему и просчитем точную стоимость.<br><br><b>Встретимся у вас на участке!</b>
                        .bigform__form
                            form(action="" data-wow-delay="0.5s").deform.form-call.wow.fadeInUp
                                .input-text
                                    .input-text__icon
                                        img(src="img/customer.png", alt="")
                                    input(type="text" name="name" placeholder="Имя") 
                                .input-text
                                    .input-text__icon
                                        img(src="img/touchscreen.png", alt="")
                                    input(type="text" name="phone" placeholder="Телефон").phone-input
                                button(type="submit").button.button_b
                                    span Рассчитать стоимость
                                    span Просчитать
                            .formcomplete.formcomplete_modal.formcomplete_ok
                                span Спасибо! Мы вам перезвоним.
                            .formcomplete.formcomplete_modal.formcomplete_error
                                span Не удалось отправить
                    .circles.circles_dark.circles_13
                        +svg-sprite('art_circle', 'svg-sprite')

            // ======
            // FOOTER
            // ======
            .container.container_rel
                .footer
                    .footer__logo
                        img(src="img/logo-black.svg", alt="")
                    .footer__contacts
                        .footer__copy
                            span © 2020. Poliv.Family
                            span 
                                | Разработка: 
                                a(href="https://tkachuk.pro") tkachuk.pro
                        .footer__phone
                            a(href="tel:0979774247").callphone.callphone_black
                                +svg-sprite('icon_phone', 'svg-sprite')
                                span (097) 977-42-47
                    .footer__call
                        button.button.button_c Заказать звонок
                .circles.circles_dark.circles_14
                    +svg-sprite('art_circle', 'svg-sprite')
                    
        script(src="js/swiper.min.js")
        script(src="js/main.js")